@{
    ViewBag.Title = "Página Principal";
}

<h2>@ViewBag.Title</h2>

@*<img class="center-block" src="~/Images/logo.jpg" alt="Logo Migración" />*@

<br />

<p class="text-center">
    <strong>
        @*En Reconocimiento a la Dirección Nacional de Migración <br />*@
        Ayudante de Ingeniero en Sistemas Alvaro Andrés Rodríguez Scelza
    </strong>
</p>